.start {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.start__title {
    text-align: center;
    margin: 0 0 40px 0;
    color: #252d42;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.start__buttons {
    display: flex;
    justify-content: space-between;
}

.start__button {
    display: flex;
    background-color: #fff;
    justify-content: center;
    background-position: center;
    border-radius: 10px;
    min-height: 400px;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    position: relative;
    flex: 0 1 48%;
    transition: transform 0.3s, box-shadow 0.3s;
        &::after {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #000;
            opacity: 0.7;
            visibility: hidden;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 5px;
            border-radius: 10px;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.8);
                &::after {
                    visibility: visible;
                }
        }
    }

.start__button_geo {
    background-image: url(../../assets/images/geo.jpg);
        &::after {
            content: 'География';
        }
}

.start__button_football {
    background-image: url(../../assets/images/football.jpg);
        &::after {
            content: 'Футбол';
        }
}

@media (max-width: 768px){
    .start__buttons {
        flex-direction: column;
    }
    .start__button {
        margin: 0 0 30px 0;
            &:nth-last-child(1) {
                margin: 0;
            }
    }
    .start__title {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 600px){
    .start__button {
        min-height: 300px;
    }
}

@media (max-width: 480px){
    .start__button {
        min-height: 200px;
    }
}